<!-- 파일 등록 방법 안내 모달 -->
<div class="modal fade" id="fileUploadGuideModal" tabindex="-1" aria-labelledby="fileUploadGuideModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileUploadGuideModalLabel">파일 등록 방법 안내</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>졸업요건 체크를 위한 파일 등록 방법</h6>
                <ol>
                    <li>'포털'->'학사정보시스템'에서 전체성적표를 다운로드합니다.</li>
                    <li>학사 -> 성적 -> 전체성적 -> 전체성적조회 -> 출력</br>
                        -> <b>엑셀파일(*.xlsx)</b>로 저장</li>
                    <li>파일이 업로드되면 자동으로 졸업요건을 체크합니다.</li>
                    <li>결과를 확인하고 필요한 이수과목을 확인하세요.</li>
                </ol>
                <p class="text-muted">* 파일은 서버에 저장되지 않으며, 결과 페이지를 나가면 자동 삭제됩니다.</p>
                <p class="text-muted">* 현재 학기가 진행 중인 과목은 성적표에 포함되지 않으니 주의하세요.</p>
                <p>조금이라도 도움이 되었으면 좋겠습니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div> 